$montserratFont: 'Montserrat', sans-serif;
$robotoFont:'Roboto', sans-serif;

$violeta: #572EE5;
$celeste:#50E3C2;
$negro:#000000;
$crema:#F3F5F8;
$bgNocturno:#37383C;
$bgNocturnoTrending:#222326;
$shadowHeader:rgba($color: #9CAFC3 , $alpha: 55%);
$sizeMain: 2em;
$sizeSubTitulos:3em;
